<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>21/01/26 15:57:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Setup.afterClass()[pri:0, instance:sample.Setup@66a3ffec]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690287238</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>21/01/26 15:57:31</td>   <td>-15403</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Setup.beforeClass()[pri:0, instance:sample.Setup@66a3ffec]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690287238</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>21/01/26 15:57:44</td>   <td>-2459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Setup.f()[pri:0, instance:sample.Setup@66a3ffec]">f</td> 
  <td>main@1690287238</td>   <td></td> </tr>
</table>
